<div class="body">
  <header class="o-header">
    <div class="logo">
      <img src="/" />
    </div>
    <div class="input-search">
      <div class="input-group">
        <span class="search-btn"></span>
        <input type="text" placeholder="Encontre uma receita" />
      </div>
    </div>

    <div class="send-receita">
      <span class="paper"></span>
      <span>Enviar sua receita</span>
    </div>
  </header>

  <aside class="o-aside">Aside</aside>
  <main class="o-main">Main</main>
  <footer class="o-footer">Footer</footer>
</div>